#map {
    height: 55vh;
    width: 100%
}

.body {
    height: 100vh;
    box-sizing: border-box
}



.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 314159;
}


.page {
    height: 95vh;
    box-sizing: border-box;
    position: absolute;
    width: 100%
}

.hidden {
    transform: translateX(-100%)
}

.show {
    transform: translateX(0)
}

.search-hidden {
    transform: translateX(-10000%)
}

#all-pages {
    position: relative
}

#icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px
}

#home-address {
    background-image: url("data/poster/football-field.jpg");
    background-size: cover;
    background-position: center
}

/* #instructions-text {
    color: whitesmoke;
    background-color: rgb(98, 133, 94);
    opacity: 0.8;
    border-radius: 15px;
    height: 11vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
} */

.nav-link {
    color: rgb(68, 255, 208)
}

/* .accordion-button {
    background-color:rgb(138, 203, 181)
}

.accordion-button:not(.collapsed) {
    background-color: rgb(187, 240, 195);
} */

#address-accordion {
    background-color: rgb(204, 237, 204);
}

#address-accordion-button {
    background-color: rgb(210, 223, 210);
}

#home-header {

    font-size: xxx-large;
    background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(14, 117, 49));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#home-subheader {
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    font-size: 35px;
   
}

#temp {
    width: 20rem;
    height: 28vh

}

#rain {
    width: 25rem;
    height: 28vh
}

#nearby {
    width: 30rem;
    height: 28vh
}


#map-widget {
    /* background-color: rgb(179, 229, 241); */
    height: 50vh;
    background-image: url('data/poster/field.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-color: black;
}

@media only screen and (max-width: 576px) {
    #home-header {
        font-size: xx-large;
        background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(14, 117, 49));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }



    #map {
        height: 85vh
    }

    }
  