#map {
    height: 100vh;
    width: 100%
}

.relative {
    position: relative;
} 

.absolute {
    position: absolute;
    z-index: 314159;
} 


.page {
    height : 100vh;
    box-sizing: border-box;
    position: absolute;
    width: 100%
}

.hidden {
    transform: translateX(-100%)
}

.show {
    transform: translateX(0)
}

.search-hidden{
    transform: translateX(-10000%)
}

#all-pages {
    position: relative
}

#icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px

}

#home-address {
    background-image: url("data/poster/football-field.jpg");
}

/* #instructions-text {
    color: whitesmoke;
    background-color: rgb(98, 133, 94);
    opacity: 0.8;
    border-radius: 15px;
    height: 11vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
} */

.nav-link{
    color: rgb(68, 255, 208)
}

/* .accordion-button {
    background-color:rgb(138, 203, 181)
}

.accordion-button:not(.collapsed) {
    background-color: rgb(187, 240, 195);
} */

#address-accordion {
    background-color: rgb(204, 237, 204);
} 

#address-accordion-button {
    background-color: rgb(210, 223, 210);
}